* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand img{
    height : 55px;
    margin-right: 10px;
}
body {
  background-image: url("./img/BG-Img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
html { 
  background: url(./img/BG-Img.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.transparent{
    background-color: rgba(255, 255, 255, 0.4); /* โปร่งใส */
    color: white;
}
.nav-page{
    padding-right: 20px;
}
/**/
